<section class="orders-show">

  <header class="page-header">
    <h1>Order <%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order <%= @order.email %>!</h4>
    <% @order.line_items.each do |item| %>
      <article class="product-detail" style="padding-bottom: 2rem;">
        <div class="row">
          <div class="col-sm-4">
            <img class="main-img" style="width: 100%;" src="/uploads/product/image/<%= item.product[:id] %>/<%= item.product[:image] %>">
          </div>

          <div class="col-sm-8">
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd><%= item.product[:name] %></dd>
              <dt>Description</dt>
              <dd><%= item.product[:description] %></dd>
              <dt>Quantity</dt>
              <dd><%= item[:quantity] %></dd>
              <dt>Price</dt>
              <dd><%= humanized_money_with_symbol item[:item_price_cents] * item[:quantity] / 100.0 %></dd>
            </dl>
          </div>
        </div>
      </article>
    <% end %>
    <h4 style="text-align: right;">Total: <%= humanized_money_with_symbol @order.total_cents / 100.0 %></h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
